<!Doctype html>
<html>
  <head>
    <title>CSRA | Register</title>
    <%- include('../partials/head.ejs') %>
    <link rel='stylesheet' href='/stylesheets/style.css' />  
  </head>
  <body class="bg-gray-50">
    <div class="mx-auto max-w-[30rem] md:max-w-[32rem]">
      <div class="mx-4">
        <div class="text-center mt-10 sm:mt-20 md:mt-24 xl:mt-30">
          <h1 class="font-bold font-mono text-2xl text-[#514C4C]">CSR ACCREDITATION</h1>
        </div>
  
        <div class="border-[#CCCCCC] bg-white rounded-md border mx-auto mt-8 xl:px-3 pt-7 mb-20 pb-10">
          <h1 class="text-center text-xl text-[#514C4C]">New Admin</h1>
  
          <form class="text-[#373737]">
            <div class="mt-7 mx-7 flex justify-between space-x-4">
              <input id="firstName" class="focus:outline-[#00A19A] border w-full mt-2 p-4 h-12 border-[#CCCCCC] rounded-lg py-1 px-3 placeholder:text-xs" type="text" placeholder="Enter first name">

              <input id="lastName" class="focus:outline-[#00A19A] border w-full mt-2 p-4 h-12 border-[#CCCCCC] rounded-lg py-1 px-3 placeholder:text-xs" type="text" placeholder="Enter last name">
            </div>
            
            <div class="mx-7 mt-4">
              <input id="email" class="focus:outline-[#00A19A] border w-full mt-2 p-4 h-12 border-[#CCCCCC] rounded-lg py-1 px-3 placeholder:text-xs" type="email" placeholder="Enter email address">
            </div>

            <div class="border rounded-lg mt-5 mx-7 flex justify-between border-[#CCCCCC]">
              <input id="password" class="focus:outline-none w-full ml-1 p-4 h-12  py-1 px-3 placeholder:text-xs" type="password" placeholder="Enter password">
              <span onclick="toggleShowPassword()" class="text-xs cursor-pointer mt-4 mr-4">
                <img class="w-5" src="../assets/images/eye-icon.svg" alt="eye-icon" />
              </span>
            </div>

            <div class="border rounded-lg mt-5 mx-7 flex justify-between border-[#CCCCCC]">
              <input id="confirm_password" class="focus:outline-none w-full ml-1 p-4 h-12  py-1 px-3 placeholder:text-xs" type="password" placeholder="Confirm password">
              <span onclick="toggleShowConfirmPassword()" class="text-xs cursor-pointer mt-4 mr-4">
                <img class="w-5" src="../assets/images/eye-icon.svg" alt="eye-icon" />
              </span>
            </div>

            <div class="mt-7 mb-10 mx-4 px-3 lg:mt-7">
              <button onclick="registerAdmin()" id="reg_btn" type="button" class="bg-[#00A19A] py-3 px-2 text-sm lg:text-base rounded shadow-sm hover:bg-[#17908a] w-full text-white" value="login">REGISTER</button>  

              <p class="text-[#373737] font-light text-center pt-5">Already registered? | <a class="hover:underline" href="/login">Login</a></p>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script src="/javascripts/auth/admin_register.js"></script>
  </body>
</html>