<!Doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/head.ejs') %>
    <link rel='stylesheet' href='/stylesheets/style.css' />  
  </head>
  <body>
    <h1 class="text-3xl text-pink-600 p-8 font-bold">
    REGISTER AS AN ADMIN HERE!
    </h1>

    <form id="register">
      <div>
        <input type="text" id="fname" placeholder="enter first name"/>
      </div>

      <div>
        <input type="text" id="lname" placeholder="enter last name"/>
      </div>

      <div>
        <input type="email" id="email" placeholder="enter email"/>
      </div>

      <div>
        <input type="password" id="password" placeholder="enter password"/>
      </div>

      <button type="button" onclick="register()">Register</button>
    </form>
  </body>
  <script src="/javascripts/auth/admin_register.js"></script>
</html>