<!Doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/head.ejs') %>
    <link rel='stylesheet' href='/stylesheets/style.css' />  
  </head>
  <body>
    <h1 class="text-3xl text-green-600 p-8 font-bold">
      FORGOT PASSWORD PAGE!
    </h1>
  </body>
</html>