<!Doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/head.ejs') %>
    <link rel='stylesheet' href='/stylesheets/style.css' />  
  </head>
  <body>
    <h1 class="text-3xl text-green-600 p-8 font-bold">
      FORGOT PASSWORD PAGE!
    </h1>

    <div class="mx-7 mt-1">
      <label class="text-sm lg:text-base">Enter the email you signed up with</label>
      <br>
      <input id="email" class="border-2 w-full lg:h-12 border-purple-600 rounded-md py-1 lg:placeholder:text-base px-3 placeholder:text-xs" type="email" placeholder="Type your email">
    </div>

    <div>
      <button onclick="forgotPassword()" class="p-4 bg-purple-700 text-white">Send</button>
    </div>

    <script src="/javascripts/auth/forgot_password.js"></script>
  </body>
</html>