<!Doctype html>
<html>
  <head>
    <title>CSRA | Reset Password</title>
    <%- include('../partials/head.ejs') %>
    <link rel='stylesheet' href='/stylesheets/style.css'/>  
  </head>
  <body class="bg-gray-50">
    <div class="mx-auto max-w-[30rem] md:max-w-[32rem]">
      <div class="mx-4">
        <div class="text-center mt-10 sm:mt-20 md:mt-24 xl:mt-30">
          <h1 class="font-bold font-mono text-2xl text-[#514C4C]">CSR ACCREDITATION</h1>
        </div>
  
        <div class="border-[#CCCCCC] bg-white rounded-md border mx-auto mt-8 xl:px-3 pt-7 pb-20">
          <h1 class="text-center text-2xl text-[#555A6E]">Set New Password</h1>
  
          <form class="text-[#555A6E] mt-12">
            <div class="border rounded-lg mt-5 mx-7 flex justify-between border-[#CCCCCC]">
              <input id="password" class="focus:outline-none w-full ml-1 p-4 h-12  py-1 px-3 placeholder:text-xs" type="password" placeholder="Enter password">
              <span onclick="togglePassword()" class="text-xs cursor-pointer mt-4 mr-4">
                <img class="w-5" src="../assets/images/eye-icon.svg" alt="eye-icon" />
              </span>
            </div>

            <div class="border rounded-lg mt-5 mx-7 flex justify-between border-[#CCCCCC]">
              <input id="confirm_password" class="focus:outline-none w-full ml-1 p-4 h-12  py-1 px-3 placeholder:text-xs" type="password" placeholder="Confirm password">
              <span onclick="toggleConfirmPassword()" class="text-xs cursor-pointer mt-4 mr-4">
                <img class="w-5" src="../assets/images/eye-icon.svg" alt="eye-icon" />
              </span>
            </div>
  
            <div class="mt-7 mx-4 px-3 lg:mt-7">
              <button id="reset_btn" onclick="resetPassword()" type="submit" class="bg-[#00A19A] py-3 px-2 rounded shadow-sm hover:bg-[#17908a] w-full text-white" value="login">SET PASSWORD</button>
              </div>
          </form>
        </div>
      </div>
    </div>
    <script src="/javascripts/auth/reset_password.js"></script>
  </body>
</html>