<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 class="text-green-700 font-bold text-center p-5 text-3xl">Welcome to <%= title %> assessors prtal</h1>
  </body>
</html>