<!Doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/head.ejs') %>
    <link rel='stylesheet' href='/stylesheets/style.css' />  
  </head>
  <body>
    <div>
      <!-- Top nav start -->
      <div class="shadow-lg px-28 h-16 pt-[0.7rem] sticky top-0 bg-white">
        <div class="flex justify-end">
          <input class="placeholder:italic placeholder:text-sm outline-[#00A19A] w-72 py-2 px-4 rounded-l-md  border-2 border-gray-300" placeholder="Search company name..." type="text"/>

          <button class="py-2 px-3 bg-[#00A19A] hover:bg-[#0b8781] text-white transition delay-75 duration-75 ease-linear hover:shadow-sm rounded-r-md">
            Search
          </button>

          <form class="h-full" action="/api/auth/logout?_method=DELETE" method="POST">
            <button class="py-2 px-5 ml-3 bg-[#00A19A] text-white hover:bg-[#0b8781] font-bold transition delay-75 duration-75 ease-linear hover:shadow-sm rounded-md">
              Logout
            </button>
          </form>  
        </div>
      </div>
      <!-- Top nav end -->

      <div class="mt-10">
        <h1 class="text-center text-3xl font-bold text-[#585856]">Company Applications</h1>
      </div>

      <!-- Company list start -->
      <div class="mx-28 my-10">
        <div id="container" class="grid gap-8 grid-cols-2 xl:grid-cols-4">
  
        </div>
      </div>
      <!-- Company list end -->
    </div>
    <script src="/javascripts/pages/applications.js"></script>
  </body>
</html>