<!Doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/head.ejs') %>
    <link rel='stylesheet' href='/stylesheets/style.css' />  
  </head>
  <body>
    <!-- Top nav start -->
    <div class="shadow-lg px-28 h-16 pt-[0.7rem] sticky top-0 bg-white">
      <div class="flex justify-end">
        <form class="h-full" action="/api/auth/logout?_method=DELETE" method="POST">
          <button class="py-[0.5rem] px-5 ml-3 bg-[#00A19A] text-white hover:bg-[#0b8781] font-bold transition delay-75 duration-75 ease-linear hover:shadow-sm rounded-md">
            Logout
          </button>
        </form>  
      </div>
    </div>
    <!-- Top nav end -->

    <div class="mx-auto w-full px-10">
      <div class="mx-auto max-w-[85rem]">
        <div class="mt-10">
          <h1 class="text-center text-3xl font-bold text-[#585856]">Score Table</h1>
        </div>

        <div class="shadow-md pb-3 rounded-md mt-10 overflow-y-auto max-h-[50rem]">
          <div class="font-semibold pt-4 sticky top-0 bg-white">
            <div class="grid grid-cols-5 text-xl px-6 text-[#585856]">
              <p>Company</p>

              <p>Assessor 1</p>
  
              <p>Assessor 2</p>
  
              <p>Assessor 3</p>
  
              <p>Overall Score</p>
            </div>

            <hr class="border-[#585856] mt-3"/>
          </div>

          <div>
            <div class="grid grid-cols-5 text-xl px-6  mt-3 text-[#585856]">
              <p>CSRA</p>

              <p>65</p>
  
              <p>86</p>
  
              <p>43</p>
  
              <p>256</p>
            </div>

            <hr class="border-[#585856] mt-3"/>
          </div>

          <div>
            <div class="grid grid-cols-5 text-xl px-6  mt-3 text-[#585856]">
              <p>Google</p>

              <p>65</p>
  
              <p>86</p>
  
              <p>43</p>
  
              <p>256</p>
            </div>

            <hr class="border-[#585856] mt-3"/>
          </div>

          <div>
            <div class="grid grid-cols-5 text-xl px-6  mt-3 text-[#585856]">
              <p>Meta</p>

              <p>65</p>
  
              <p>86</p>
  
              <p>43</p>
  
              <p>256</p>
            </div>

            <hr class="border-[#585856] mt-3"/>
          </div>
        </div>
      </div>
    </div>
    <script src="/javascripts/pages/score_table.js"></script>
  </body>
</html>